@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1731826044701') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e66a";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-Youtube:before {
  content: "\e880";
}

.icon-github:before {
  content: "\e972";
}

.icon-twiter:before {
  content: "\e75c";
}

