/* 全局样式 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    background-color: transparent; /* 使用浏览器默认背景颜色 */
}

.container {
    display: flex;
    width: 80%; /* 页面宽度 */
    max-width: 1200px; /* 最大宽度 */
}

/* 左侧导航栏样式 */
.sidebar {
    width: 25%;
    padding: 1rem;
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直排列内容 */
    align-items: center; /* 水平居中头像和个人信息 */
    height: 100vh; 
}

/*图像设置为块级元素*/
img {
    display: block;
    margin: 0 auto;
}

/* 个人信息样式 */
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile h1 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center; 
}

.profile p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
    text-align: center; 
}

/* 菜单样式 */
.menu {
    width: 100%; /* 菜单占满导航栏宽度 */
    text-align: center; 
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0; /* 菜单与个人信息的间距 */
}

.menu li {
    margin: 0.5rem 0;
}

.menu a {
    text-decoration: none;
    color: inherit; /* 使用默认字体颜色 */
    padding: 0.5rem 0; /* 上下间距 */
    display: block; /* 菜单项占整行，易于点击 */
}

/* 网站链接样式 */
.WebSite {
    margin-top: auto; /* 将社交媒体链接推到最下方 */
    text-align: left; /* 左对齐社交媒体链接 */
}

.WebSite ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

.WebSite li{
    margin: 0.5rem 0;

}

.WebSite spon{
    font-size: 20px; /* 字体图标大小 */
}

.WebSite a {
    text-decoration: none;
    color: black; /* 保持默认字体颜色 */
    padding: 0.5rem 0; /* 上下间距 */
    display: flex;
    align-items: center; /* 对齐图标和文本 */
}


/* 分隔线样式 */
.divider {
    width: 5px; /* 分隔线宽度 */
    background: linear-gradient(to right, #ccc, #f0f0f0); /* 从左到右的灰色渐变 */
    margin: 0 1rem; /* 左右间距 */
    height: 100vh; /* 自动匹配内容高度 */
}

/* 右侧主要内容样式 */
.main-content {
    flex: 1;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.main-content h2 {
    font-size: 30px;
}

.main-content h3 {
    font-size: 25px;
}

.main-content p {
    line-height: 1.2;
    align-items: center;
    font-size: 17px;
}

.main-content ul, .main-content li {
    line-height: 1.2;
    color: black;
    align-items: center;
    font-size: 15px;
}

.WebSite a {
    text-decoration: none;
    color: black; /* 保持默认字体颜色 */
    padding: 0.5rem 0; /* 上下间距 */
    display: flex;
}
